.task {
    display: flex;
    align-items: center;
    justify-content: space-between;



    &__create {
        @include mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        color: var(--color-dark);
        font-size: 24px;
        margin-right: 16px;

    }

    &__save {}
}