:root {
    --color-dark: #2E3238;
    --color-gray-light: #FCFCFD;
    --color-gray: #ABB1BA;
    --color-gray-dark: #D5D8DD;
    --color-primary: #0078CF;
    --color-blue-light: #E5F4FF;
    --color-blue-dark: #99D5FF;
    --color-required: #B21F00;

    --transition: 0.3 all ease;

    --border-radius: 4px;

    /*--------Шрифты--------*/
    --font-base: 'Open Sans', sans-serif;
}